.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
out/
src/**
.gitignore
.gitattributes
tsconfig.json
vsc-extension-quickstart.md
tslint.json
GitVersion.yml
build.sh
build.cmd
build.ps1
.nuke
build/
Jenkinsfile
.tmp/